{% extends "layout.html" %}

{% block title %}Dashboard{% endblock %}
{% block body %}

          <h1 class="page-header">Dashboard</h1>

          <h2 class=""><small>Images Loaded</small></h2>
          <div class="table-responsive">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>View Image</th>
                  <th>Type</th>
                  <th>File Name</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                    <td><a href="{{ url_for('display_image') }}">View Image</a></td>
                </tr>
                <tr>
                  <td>1,002</td>
                  <td>amet</td>
                  <td>consectetur</td>
                  <td>adipiscing</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
